<div class="hover:bg-neutral-800 rounded animate-default pl-4 flex justify-between"
     [class.p-2]="!interfaceService.settings.compactMode"
     (contextmenu)="contextMenuService.openClientContextMenu(client,connection,$event)">

  <span>
    <app-profile-image [connection]="connection" [user]="client.details"
                       [size]="interfaceService.settings.compactMode?6:8"></app-profile-image>

    <span class="pl-2" [ngClass]="[
    client.id===connection.identity.id ? 'text-neutral-100' : ''
  ]">{{ client.username }}
    </span>
</span>

  <span class="justify-end text-neutral-700">
    @for (group of client.details.groups; track group.id) {
      @if (group.label) {
        <span class="border-neutral-700 border rounded p-0.5">
        {{ group.name }} <!--TODO replace with icon when available -->
        </span>
      }
    }
  </span>
</div>
