<div class="hover:bg-neutral-800 rounded animate-default pl-4 flex justify-between"
     [class.p-2]="!interfaceService.settings.compactMode">

  <span>
    @if (client.details.avatarId) {
      <img
        [src]="client.details.avatarId | storageFileURL: connection"
        [ngClass]="{
'w-8 h-8': !interfaceService.settings.compactMode,
'w-6 h-6': interfaceService.settings.compactMode}"
        class="rounded inline object-cover"
      />
    } @else {
      <img
        [src]="client.id | identicon: 32 | async"
        [ngClass]="{
'w-8 h-8': !interfaceService.settings.compactMode,
'w-6 h-6': interfaceService.settings.compactMode}"
        class="rounded inline"
      />
    }

    <span class="pl-2" [ngClass]="[
    client.id==connection.identity.id ? 'text-neutral-100' : ''
  ]">{{ client.username }}
      {{ client.details.avatarId }}</span>
</span>

  <span class="justify-end text-neutral-700">
    @for (group of client.details.groups; track group.id) {
      @if (group.label) {
        <span class="border-neutral-700 border rounded p-0.5">
        {{ group.name }} <!--TODO replace with icon when available -->
        </span>
      }
    }
  </span>
</div>
