<div class="p-4 max-w-xl m-auto">
  <div class="pb-8">
    <div class="w-full">
      <p>Username</p>
      <input id="username" class="w-full" placeholder="At least three characters" [(ngModel)]="username">
    </div>

  </div>


  <h4>Your Key</h4>
  @if (key) {
    <div class="flex gap-4">
      <div class="w-48">
        <img [src]="key | keyID | async | identicon: 96 | async" class="rounded-t w-full"/>
        <button class="button-dark w-full min-w-full !rounded-t-none  items-center justify-center"
                (click)="createKey()">
          <lucide-icon [name]="RotateCcw" class="w-4 h-4 m-auto"></lucide-icon>
        </button>
      </div>
      <div class="text-neutral-300">
        <p>
          This is a visual representation of your private Identity key.
        </p>
        <p>
          It is unique to you and servers save your profile, groups and messages
          based on this key.<br>
          Don't loose it and don't share it with anyone.
        </p>
      </div>
    </div>
    <app-key-visualizer class="w-full" [keyId]="key | keyID | async "></app-key-visualizer>
  }

  <div class="p-4"></div>
  <!--
    <label for="name" class="text-hint">Optional: Enter a name for your identity</label>
    <input id="name" placeholder="Standard" [(ngModel)]="username">
  -->
  <div class="p-4"></div>

  @if (identityWaiting) {
    <div class="float-right">
      Generating Keys
      <app-spinner></app-spinner>
    </div>
  } @else {
    <button [disabled]="username.length < 3" class="float-right" (click)="createIdentity()">
      Next
    </button>
  }

</div>
