<ui-split-panel class="min-h-[90%]">
  <ui-split-panel-bar>
    <ui-split-panel-button value="General" [icon]="SettingsIcon">
      General
    </ui-split-panel-button>
    <ui-split-panel-button value="Identities" [icon]="FingerprintIcon">
      Identities
    </ui-split-panel-button>
    <ui-split-panel-button value="License" [icon]="ScaleIcon">
      Contributors & Licences
    </ui-split-panel-button>
    <ui-split-panel-button value="Debug" [icon]="BugIcon">
      Debug
    </ui-split-panel-button>
    <div class="pb-4 mx-4 mt-4 border-t border-t-neutral-700"></div>
    @if (connection) {
      <ui-split-panel-button value="Your Account" [icon]="IdCardLanyardIcon">
        Account on '{{ connection.data!.server.name }}'
      </ui-split-panel-button>
    }
  </ui-split-panel-bar>

  <app-general splitPanel="General"></app-general>
  <app-identity splitPanel="Identities"></app-identity>
  <app-contributors splitPanel="License"></app-contributors>
  <app-debug splitPanel="Debug"></app-debug>
  @if (connection) {
    <app-server-user splitPanel="Your Account"
                     [connection]="connection"></app-server-user>
  }
</ui-split-panel>
