<div class="p-4">
  <h1 class="w-full text-center font-bold text-green-bold">Hello
    @if (identity) {
      , {{ identity.username }}
    }</h1>
  <p class="text-center py-4">Let's set you up!</p>

  <div class="relative h-16 px-16">
    <p class="p-4 inline bg-neutral-800 rounded-full absolute left-0">
      <lucide-icon [name]="ShieldUser"></lucide-icon>
    </p>
    <span class="w-1/2 absolute left-0 h-2 -z-10 top-6" [ngClass]="stage>0?'bg-emerald-400':'bg-emerald-800'"></span>
    <p class="p-4 inline bg-neutral-800 rounded-full absolute left-1/2">
      <lucide-icon [name]="Server"></lucide-icon>
    </p>
    <span class="w-1/2 absolute left-1/2 h-2 -z-10 top-6" [ngClass]="stage>1?'bg-emerald-400':'bg-emerald-800'"></span>
    <p class="p-4 inline bg-neutral-800 rounded-full absolute right-0">
      <lucide-icon [name]="Check"></lucide-icon>
    </p>
  </div>

  <div class="pt-4 px-4 pb-8 m-2 bg-neutral-800 rounded-xl">
    @switch (stage) {
      @case (WelcomeStage.IDENTITY) {
        <h2 class="pb-4 text-center">Create your Identity</h2>
        <app-identity-wizzard (identityCreated)="onIdentity($event)" [showDots]="false"></app-identity-wizzard>
      }
      @case (WelcomeStage.SERVER) {
        <h2 class="pb-4 text-center">Community Server</h2>
        <div class="mx-auto max-w-xl">
          <p>
            You can start by selecting a few community servers.
          </p>
          <p>
            This step is optional. You can add or remove servers at any time.
          </p>
          @for (server of communityServer; track server) {
            <div class="p-4 rounded flex bg-neutral-800 hover-greenish w-full gap-4" [ngClass]="{
           'greenish':selectedCommunityServer.includes(server)
           }">

              <input type="checkbox" class="flex max-w-8" (change)="onServerSelect($event,server)">
              <label class="flex">
                <h2>{{ server.name }}</h2>
                <p>{{ server.description }}</p>
                <p class="text-neutral-400">{{ server.url }}</p>
              </label>
            </div>
          }
        </div>
        <button class="float-right"
                (click)="stage = WelcomeStage.FINISHED">
          @if (selectedCommunityServer.length == 0) {
            Skip
          } @else {
            Next
          }
        </button>
      }
      @case (WelcomeStage.FINISHED) {
        <h2 class="pb-4 text-center">Done.</h2>
        <p>
          Some text
        </p>
        <button class="float-right"
                (click)="finish()"> Next
        </button>
      }
    }
  </div>
</div>

@if (warnDuplicate) {
  <app-popup [isOpen]="true" title="You already are set up. Skip this?"
             [content]="'You already created a Identity. You can skip this part now if you want to.'"
             [buttons]="[BUTTON_CANCEL,BUTTON_SKIP]"
             (close)="onWarnDuplicate($event)">

  </app-popup>
}
