@if (interfaceService.settings.legacyChat) {

  <div class="font-mono pb-4">
    <span class="text-neutral-600" [appTooltip]="message.timestamp">{{ message.timestamp | userDate }}</span>
    <span class="text-emerald-600 pl-2">{{ message.user.username }}</span>

    <div class="pl-8">
      @for (content of message.content; track content) {
        @switch (content.type) {
          @case ("MARKDOWN") {
            @let markdown = asTypeMarkdown(content);
            <p [innerHTML]="markdown.text | markdown" class="break-all"></p>
          }
          @case ("FILE") {
            @let file = asTypeFile(content);
            <a class="underline" [href]="file.file.id | storageFileURL:connection"
               target="_blank">{{ file.file.filename }}</a>
          }
          @default {
            <p class="text-red-400">The client does not unterstand this message. Please update your client or check
              your server logs</p>
          }
        }

      }
    </div>
  </div>
} @else {

  <div class="pt-1" [ngClass]="{
'pt-1': !useHeader,
'pt-3': useHeader}">
    <div class="flex">
      @if (useHeader) {
        <img class="inline rounded max-w-6 max-h-6 mr-2 mt-1" [src]="message.user.id | identicon:32 | async"
             alt="Key ID: {{message.user.id}}"/>

      } @else {
        <div class="mr-2 w-6"></div>
      }

      <div class="bg-neutral-800 px-4 pb-2.5 pt-1 rounded w-fit relative">
        @if (useHeader) {
          <p class="text-emerald-600 font-bold pb-1">
            {{ message.user.username }}
            <span class="text-sm text-right text-neutral-700"
                  [appTooltip]="message.timestamp">{{ message.timestamp | userDate }}</span>
          </p>
        } @else {
          <p class="text-sm text-right text-neutral-700"
             [appTooltip]="message.timestamp">{{ message.timestamp | userDate }}</p>
        }

        @for (content of message.content; track content) {
          <app-message-content [content]="content" [connection]="connection"></app-message-content>
        }
      </div>

    </div>
  </div>
}
