<div class="h-full flex flex-col pt-4 bg-neutral-900">
  <!-- Scrollable messages -->
  <div #messageList class="flex-grow overflow-auto p-4 relative">
    @if (currentPage && currentPage > 0) {
      <button #moreMessages class="w-full text-center mx-auto block" (click)="loadMessages()">Load more messages
      </button>
    }
    @for (msg of messages; track msg) {
      <app-message [message]="msg" [lastMessage]="$index!=0?messages[$index]:undefined" [connection]="connection"
                   (onReply)="setReply($event)"></app-message>
    }
  </div>

  @if (reply) {
    <div class="bg-neutral-800 p-1 ">
      <lucide-icon [name]="CornerDownRightIcon" class="inline h-4"></lucide-icon>
      Reply to
      <button class="button-small button-dark" (click)="setReply(undefined)">
        <lucide-icon [name]="XIcon"></lucide-icon>
      </button>
      <div class="max-h-16 overflow-auto pl-2">
        <app-message-content class="text-neutral-500" [connection]="connection"
                             [content]="reply.content![0]"></app-message-content>
      </div>
    </div>
  }
  @for (attachment of attachments; track attachment.id) {
    <app-chip>
      @if (mimeTypeHasImagePreview(attachment.contentType)) {
        <app-preview-image [file]="attachment" [connection]="connection"
                           imageClass="object-contain max-h-4 rounded-xl inline"></app-preview-image>
      }
      {{ attachment.filename }}
      <button class="button-mini" (click)="removeAttachment(attachment)">
        <lucide-icon [name]="XIcon" class="inline"></lucide-icon>
      </button>
    </app-chip>
  }
  <!-- Input row pinned to bottom -->
  <div class="border border-neutral-400 rounded-xl m-1 min-h-16 max-h-30 bg-neutral-800 items-center">
    <div class="px-2 pt-1">

    </div>
    <div class="flex">
      <div class="p-1">
        <app-file-upload class="w-8 !hover:bg-neutral-800" [connection]="connection" (uploaded)="onAttachmentUploaded($event)"
                         [ghost]="false"></app-file-upload>
      </div>

      <textarea [(ngModel)]="message" (keydown.enter)="sendMessage()"
                class="!bg-neutral-800 !border-0"
      ></textarea>
      <div>
        <button
          (click)="sendMessage()"
          class="" [disabled]="message.length===0">
          <lucide-icon [name]="SendIcon"></lucide-icon>
        </button>
      </div>
    </div>
  </div>
</div>
