<div class="h-full flex flex-col pt-4 bg-neutral-900">
  <!-- Scrollable messages -->
  <div #messageList class="flex-grow overflow-auto p-4 relative">
    @if (currentPage && currentPage > 0) {
      <button #moreMessages class="w-full text-center mx-auto block" (click)="loadMessages()">Load more messages
      </button>
    }
    @for (msg of messages; track msg) {
      <app-message [message]="msg" [lastMessage]="$index!=0?messages[$index]:undefined" [connection]="connection"></app-message>
    }
  </div>

  <!-- Input row pinned to bottom -->
  <div class="border border-neutral-400 rounded-xl m-1 h-16 bg-neutral-800 flex items-center">
    <div class="p-1">
      <app-file-upload class="w-8 !hover:bg-neutral-800" [connection]="connection" (uploaded)="onFileUpload($event)"
                       [ghost]="false"></app-file-upload>
    </div>

    <textarea [(ngModel)]="message" (keydown.enter)="sendMessage()"
           class="!bg-neutral-800 !border-0"
    ></textarea>
    <div class="">
      <button
        (click)="sendMessage()"
        class="" [disabled]="message.length===0">
        <lucide-icon [name]="SendIcon"></lucide-icon>
      </button>
    </div>
  </div>
</div>
