<div class="border-2 absolute flex items-center justify-center border-neutral-800 hover:border-neutral-200
bg-neutral-700 rounded">

  <h3 class="font-bold">{{peer.client.username}}</h3>

  <div class="bg-neutral-800 absolute bg-opacity-20 text-neutral-200 bottom-0">
    {{peer.state}}
    @switch (peer.state){
      @case (PeerConnectionState.WaitingForOffer){
        <lucide-icon [name]="LoaderIcon"></lucide-icon>
        Waiting for connection (1/4)
      }
      @case (PeerConnectionState.Offered){
        <lucide-icon [name]="CheckIcon"></lucide-icon>
        Waiting for answer (2/4)
      }
      @case (PeerConnectionState.Answered){
        <lucide-icon [name]="CheckCheckIcon"></lucide-icon>
        Waiting for tracks (3/4)
      }
      @case (PeerConnectionState.Connected){
        <lucide-icon [name]="SignalIcon"></lucide-icon>
        Connected
      }
    }
  </div>
</div>
