@if (!showSettings) {
  <button class="right-2 absolute top-2 button-dark" (click)="showSettings=true">
    <lucide-icon [name]="SettingsIcon"></lucide-icon>
  </button>
}
<app-popup [isOpen]="showSettings" [closeButton]="true" (close)="showSettings=false">
  <app-settings></app-settings>
</app-popup>

<div class="fixed w-screen h-screen wave-background gradient-white-emerald-5 -z-10">

</div>

<div class="flex flex-col justify-center  items-center h-screen max-h-screen">

  <div class="p-4">
    <h1 class="text-5xl font-serif font-bold">Onyx</h1>
  </div>

  <div class="p-6 bg-neutral-800 rounded w-xl">
    @if (serverLoaderService.connections.length != 0) {
      <h3>Server Browser</h3>
    }
    <div class="overflow-y-auto max-h-96">

      @for (s of serverLoaderService.connections; track s) {
        <div class="bg-neutral-900 rounded gap-6 grid grid-cols-[auto_1fr_auto] w-full my-2">
          @let detail = serverDetails.get(s) || CONNECTING_STATE;

          <div class="p-4 w-12 h-12 rounded">
            @switch (detail.state) {
              @case (ServerInfoState.CONNECTING) {
                <app-spinner></app-spinner>
              }
              @case (ServerInfoState.SUCCESS) {
                <lucide-icon [name]="ServerIcon" class="w-12 h-12"></lucide-icon>
              }
              @case (ServerInfoState.ERROR) {
                <lucide-icon [name]="ServerOffIcon" class="w-12 h-12 text-red-600"></lucide-icon>
              }
            }
          </div>

          <div class="p-4">
            @switch (detail.state) {
              @case (ServerInfoState.CONNECTING) {
                <p class="w-72 font-bold"></p>
                <span class="text-neutral-400">{{ s.name || s.url }}</span>
              }
              @case (ServerInfoState.SUCCESS) {
                @if (detail.success && detail.success[0]) {
                  @let info = detail.success[0];
                  <p class="w-72 font-bold">{{ info.name }}</p>
                  <span class="text-neutral-400">{{ s.name || s.url }}</span>
                } @else {
                  <p class="w-72 font-bold">{{ s.name || s.url }}</p>
                  <span class="text-red-400 line-clamp-2">Server gave invalid response</span>
                }

              }
              @case (ServerInfoState.ERROR) {
                <p class="w-64 font-bold">{{ s.name || s.url }}</p>
                <span class="text-red-400 line-clamp-2">{{ detail.error }}</span>
              }
            }
          </div>

          <div class="flex justify-end">
            <button class=" button-dark !rounded-none !p-2" (click)="editServer(s)">
              <lucide-icon [name]="SettingsIcon"></lucide-icon>
            </button>

            <button class="!rounded-l-none button-green" (click)="connect(s)" [disabled]="selectedServer">
              @if (selectedServer == s) {
                <app-spinner></app-spinner>
              } @else {
                <lucide-icon [name]="ArrowBigRightDash"></lucide-icon>
              }
            </button>
          </div>
        </div>
      }
    </div>

    @if (serverLoaderService.connections.length != 0) {
      <div class="p-8 border-b-neutral-600 border-b-1"></div>
    }

    <h4 class="pt-2">Add a new server</h4>
    <div class="grid grid-cols-4">
      <input [(ngModel)]="customUrl" class="col-span-3 !bg-neutral-900 !rounded-r-none"
             placeholder="example.com or http://localhost:8080"/>
      <button (click)="addAndConnectToCustomUrl()" class="!rounded-l-none button-dark"
              [disabled]="selectedServer || customUrl.length<7">Connect
      </button>
    </div>
    @if (customUrlError) {
      <span class="text-red-400 p-1">{{ customUrlError }}</span>
    }
  </div>
  @if (serverToEdit && serverToEditCopy) {
    <app-popup [isOpen]="true"
               [buttons]="[BUTTON_EDIT]" [closeButton]="true" (close)="closeEditDialog($event)">
      <h3>Connection</h3>

      <div class="pt-4">
        <label>Server Name</label>
        <input [(ngModel)]="serverToEditCopy.name" placeholder="No name">
        <label>Server URL</label>
        <input [(ngModel)]="serverToEditCopy.url">
      </div>

      <div class="pt-8">
        <label>Danger Zone</label>
        <button class="button-dark button-red w-full" (click)="serverToDelete = true">
          Delete Connection
        </button>
      </div>

      <app-popup [isOpen]="serverToDelete" [buttons]="[BUTTON_CANCEL, BUTTON_DELETE]"
                 title="Delete this connection?"
                 (close)="removeServer(serverToEdit,$event)"
                 [content]="'You can already create a new connection using this URL.'">
      </app-popup>
    </app-popup>
  }
</div>
