@if (!showSettings){
<button class="right-4 absolute top-4 button-dark" (click)="showSettings=true">
  <lucide-icon [name]="SettingsIcon"></lucide-icon>
</button>
}
<app-popup [isOpen]="showSettings" [closeButton]="true" (close)="showSettings=false">
  <app-settings></app-settings>
</app-popup>
<div class="flex justify-center  items-center h-screen">
  <div class="p-6 bg-neutral-800 rounded w-xl ">
    @if (serverLoaderService.connections.length != 0) {
      <h3>Server Browser</h3>
    }
    <div class="overflow-y-auto max-h-96">

      @for (s of serverLoaderService.connections; track s.url) {
        <div class="p-4 my-1 bg-neutral-900 rounded gap-6 grid grid-cols-[auto_1fr_auto] w-full">
          @let detail = serverDetails.get(s) || CONNECTING_STATE;

          <div class="w-12 h-12 bg-neutral-800 rounded">
            @switch (detail.state) {
              @case (ServerInfoState.CONNECTING) {
                <app-spinner></app-spinner>
              }
              @case (ServerInfoState.SUCCESS) {
                <lucide-icon [name]="ServerIcon" class="w-12 h-12"></lucide-icon>
              }
              @case (ServerInfoState.ERROR) {
                <lucide-icon [name]="ServerOffIcon" class="w-12 h-12 text-red-600"></lucide-icon>
              }
            }
          </div>

          <div>
            @switch (detail.state) {
              @case (ServerInfoState.CONNECTING) {
                <p class="w-72 font-bold"></p>
                <span class="text-neutral-400">{{ s.url }}</span>
              }
              @case (ServerInfoState.SUCCESS) {
                @if (detail.success && detail.success[0]) {
                  @let info = detail.success[0];
                  <p class="w-72 font-bold">{{ info.name }}</p>
                  <span class="text-neutral-400">{{ s.url }}</span>
                } @else {
                  <p class="w-72 font-bold">{{ s.url }}</p>
                  <span class="text-red-400 line-clamp-2">Server gave invalid response</span>
                }

              }
              @case (ServerInfoState.ERROR) {
                <p class="w-64 font-bold">{{ s.url }}</p>
                <span class="text-red-400 line-clamp-2">{{ detail.error }}</span>
              }
            }
          </div>

          <div class="flex justify-end">
            <button (click)="connect(s)" [disabled]="selectedServer">
              @if (selectedServer == s) {
                <app-spinner></app-spinner>
              } @else {
                Join
              }
            </button>
            <button class="button-red" (click)="removeServer(s)">X</button>
          </div>
        </div>
      }
    </div>

    @if (serverLoaderService.connections.length != 0) {
      <div class="p-8 border-b-neutral-600 border-b-1"></div>
    }

    <label>Connect to a new server</label>
    <div class="grid grid-cols-4">
      <input [(ngModel)]="customUrl" class="col-span-3 !bg-neutral-900 !rounded-r-none"
             placeholder="example.com or http://localhost:8080"/>
      <button (click)="addAndConnectToCustomUrl()" class="!rounded-l-none button-hover-dark"
              [disabled]="selectedServer || customUrl.length<7">Connect
      </button>
    </div>
    @if (customUrlError) {
      <span class="text-red-400 p-1">{{ customUrlError }}</span>
    }
  </div>
</div>
