<button class="left-2 absolute bottom-2 button-dark" (click)="contextMenuService.openSettingsMenu(undefined)">
  <lucide-icon [name]="SettingsIcon"></lucide-icon>
</button>

<div class="flex flex-col justify-center  items-center h-screen max-h-screen">

  <div class="p-4 text-center">
    <img src="/assets/logo/logo.png" alt="onyx logo" class="w-32">
    <h1 style="letter-spacing: 20px" class="font-light">onyx</h1>
  </div>

  <div class="p-6 bg-neutral-800 rounded w-xl">
    @if (serverLoaderService.connections.length != 0) {
      <h3>Server Browser</h3>
    }
    <div class="overflow-y-auto max-h-96">

      @for (s of serverLoaderService.connections; track s) {
        <div class="bg-neutral-900 rounded gap-6 grid grid-cols-[auto_1fr_auto] w-full my-2">
          @let detail = serverDetails.get(s) || CONNECTING_STATE;

          <div class="p-4 w-12 h-12 rounded">
            @switch (detail.state) {
              @case (ServerInfoState.CONNECTING) {
                <app-spinner></app-spinner>
              }
              @case (ServerInfoState.SUCCESS) {
                @if (detail.success && detail.success[0] && detail.success[0].icon) {
                  @let info = detail.success[0];
                  <app-preview-image [file]="info.icon!" [basePath]="s.url"
                                     imageClass="min-w-12 w-12 h-12 object-cover rounded">
                  </app-preview-image>
                } @else {
                  <lucide-icon [name]="ServerIcon" class="w-12 h-12 rounded-xl"></lucide-icon>
                }
              }
              @case (ServerInfoState.ERROR) {
                <lucide-icon [name]="ServerOffIcon" class="min-w-12 min-h-12 text-red-600"></lucide-icon>
              }
            }
          </div>

          <div class="p-4">
            @switch (detail.state) {
              @case (ServerInfoState.CONNECTING) {
                <p class="w-72 font-bold"></p>
                <span class="text-neutral-400">{{ s.name || s.url }}</span>
              }
              @case (ServerInfoState.SUCCESS) {
                @if (detail.success && detail.success[0]) {
                  @let info = detail.success[0];
                  <p class="w-72 font-bold">{{ info.name }}</p>
                  <span class="text-neutral-400">{{ s.name || s.url }}</span>
                } @else {
                  <p class="w-72 font-bold">{{ s.name || s.url }}</p>
                  <span class="text-red-400 line-clamp-2">Server gave invalid response</span>
                }

              }
              @case (ServerInfoState.ERROR) {
                <p class="w-64 font-bold">{{ s.name || s.url }}</p>
                <span class="text-red-400 line-clamp-2">{{ detail.error }}</span>
              }
            }
          </div>

          <div class="flex justify-end">
            <button class="!rounded-l-none button-onyx" (click)="connect(s)" [disabled]="selectedServer">
              @if (selectedServer == s) {
                <app-spinner></app-spinner>
              } @else {
                <lucide-icon [name]="ArrowBigRightDash"></lucide-icon>
              }
            </button>
          </div>
        </div>
      }
    </div>

    @if (serverLoaderService.connections.length != 0) {
      <div class="pl-2 py-2 border-b-neutral-600 border-b-1">
        With Identity
        <select [(ngModel)]="identity">
          @for (identity of identityService.identities; track identity.id) {
            <option [value]="identity">{{ identity.username }}</option>
          }
        </select>
      </div>
    }

    <h4 class="pt-2">Add a new server</h4>
    <div class="grid grid-cols-4">
      <input [(ngModel)]="customUrl" class="col-span-3 !bg-neutral-900 !rounded-r-none"
             placeholder="example.com or http://localhost:8080"/>
      <button (click)="addAndConnectToCustomUrl()" class="!rounded-l-none button-dark"
              [disabled]="selectedServer || customUrl.length<7">Connect
      </button>
    </div>
    @if (customUrlError) {
      <span class="text-red-400 p-1">{{ customUrlError }}</span>
    }
  </div>
</div>
