<div class="flex flex-2">
  <div class="w-48">
    @for (group of groups; track group.id) {
      <button class="min-w-48 button-dark button-no-round" [class.button-dark]="selectedGroup!=group" (click)="selectedGroup = group">{{ group.name }}</button><br>
    }
    <div class="text-right pt-2">
      <button class="button-ghost min-w-48" (click)="addGroup()">+
        <lucide-icon [name]="IdCardLanyard" class="inline"></lucide-icon>
      </button>
    </div>
  </div>

  @if (selectedGroup) {
    <div class="px-2 w-full">
      <input class="text-h3 input-invisible" [(ngModel)]="selectedGroup.name">
      <textarea class="input-invisible" [(ngModel)]="selectedGroup.description"></textarea>

      <div class="settings-grid">
        <p class="settings-grid-label-no-desc">Show in Tree</p>
        <app-toggle [(value)]="selectedGroup.showInTree"></app-toggle>
      </div>

      <div class="">
        <p class="ml-2">
          <!--Inherits from
          <select class="ml-2" [(ngModel)]="selectedGroup.parentId">
            <option [value]="undefined"></option>
            @for (g of groups; track g.id) {
              @if (g != selectedGroup) {
                <option [value]="g.id">{{ g.name }}</option>
              }
            }
          </select>-->
        </p>
        <br>
        <app-policy-panel [group]="selectedGroup" [groups]="groups!" [connection]="connection"></app-policy-panel>
        <div class="text-right pt-4">
          <button class="button-line" (click)="updateGroup(selectedGroup)">Save</button>
          <button class="button-red" (click)="deleteGroup(selectedGroup)">Delete</button>
        </div>
      </div>
    </div>
  }
</div>
