@if (groups) {
  @for (group of groups; track group.id) {
    <div class="bg-neutral-800 m-2 rounded">
      <input class="text-h3 input-invisible" [(ngModel)]="group.name">
      <textarea class="input-invisible" [(ngModel)]="group.description"></textarea>

      <div class="grid grid-cols-2">
        <p class="ml-2">
          Inherits from
          <select class="ml-2" [(ngModel)]="group.parentId">
            <option [value]="undefined"></option>
            @for (g of groups; track g.id) {
              @if (g != group) {
                <option [value]="g.id">{{ g.name }}</option>
              }
            }
          </select>
        </p>
        <div class="text-right">
          <button class="button-line" (click)="updateGroup(group)">Save</button>
          <button class="button-red" (click)="deleteGroup(group)">Delete</button>
        </div>
      </div>
    </div>
  }
  <div class="text-right m-2">
    <button class="button-ghost" (click)="addGroup()">+
      <lucide-icon [name]="IdCardLanyard" class="inline"></lucide-icon>
    </button>
  </div>
}
