@if (connection.data) {
  @let data = connection.data;
  <h3 class="font-bold pb-2 text-center w-full cursor-pointer"
      (click)="selectChannel(undefined)">{{ data.server.name }}</h3>
  @for (section of data.sections; track section) {
    <div>
      <h4 class="font-semibold  text-neutral-400 pt-2 pt-3">{{ section.name }}</h4>
      @for (channel of section.channels; track channel) {
        <div
          class="p-2 rounded gap-2 grid grid-cols-[1fr_auto] w-full
          text-neutral-200 hover:text-neutral-100  hover:bg-neutral-800 animate-default group cursor-pointer"
          [ngClass]="[
    connection.selectedChannel==channel.id || connection.currentChannel==channel.id ? 'bg-neutral-800' : ''
  ]" (click)="selectChannel(channel)">
          <div class=" w-full   rounded-l-md select-none">
            <lucide-icon class="inline-flex translate-y-0.5" [name]="HexagonIcon"></lucide-icon>
            {{ channel.name }}

          </div>
          @if (connection.currentChannel != channel.id) {
            <button class="right-0 !p-1 !m-0 !bg-neutral-900 !hover:bg-neutral-800 rounded-r-md
                    opacity-0 pointer-events-none
                    group-hover:opacity-100 group-hover:pointer-events-auto
                    transition">
              <lucide-icon [name]="LogInIcon" (click)="changeChannel(channel)"></lucide-icon>
            </button>
          }
        </div>
        @for (client of connection.clients; track client.id) {
          @if (client.channel == channel.id) {
            <div class="ml-4 p-2 hover:bg-neutral-800 rounded animate-default flex items-center gap-2"
                 [ngClass]="[
    client.id==connection.identity.id ? 'bg-neutral-800' : ''
  ]">
              <img
                [src]="client.id | identicon: 32 | async"
                class="w-8 h-8 rounded"
              />
              <span>{{ client.username }}</span>
            </div>
          }
        }
      }
    </div>
  }

  <!-- TODO show clients that are in no channel as "idle" -->
} @else {
  <app-spinner></app-spinner>
}

