<div class="h-screen flex flex-col">

  <div class="bg-neutral-900 p-4 rounded-br-xl">
        <h2 class="font-semibold" [class.skeleton]="!details">
          @if (details) {
            {{details.name}}
          }
        </h2>
  </div>

  <!-- Talk View -->
  <div class="flex-grow max-h-[70vh] overflow-auto">
    <div class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-2"><!--[style.height.%]="interfaceService.settings.channelSplitSize.peerView"-->
      @if (peerConnectionService.localStream) {
        <app-peer-view class="h-64" [localStream]="peerConnectionService.localStream"></app-peer-view>
      }
      @for (peer of peerConnectionService.peers; track peer) {
        <app-peer-view class="h-64" [peer]="peer"></app-peer-view>
      }
    </div>
    <!--<div
      class="h-2 bg-gray-400 cursor-row-resize"
      (mousedown)="startResize($event)"
    ></div>-->
  </div>

  <!-- Messages view -->
  <div class="flex flex-col flex-grow min-h-[30vh] ">
    <!--[style.height.%]="interfaceService.settings.channelSplitSize.peerView"-->
    <app-message-view class="h-full" [connection]="connection" [channelId]="channelId"></app-message-view>
  </div>
</div>
