@if (connection.data) {
  @for (section of connection.data.sections; track section) {
    <div class="p-2 bg-neutral-800 rounded m-1">
      <h3>{{section.name}}</h3>
      <div cdkDropList [id]="'droplist-section-' + section.id" [cdkDropListData]="section" [cdkDropListConnectedTo]="dropListSections"
           class="min-h-8" (cdkDropListDropped)="drop($event)">
        @for (channel of section.channels; track channel) {
          <div class="p-2 m-1 bg-neutral-900 rounded relative" cdkDrag>
            {{ channel.name }}
            <button class="!p-0 absolute right-2 button-hover-red button-dark">
              <lucide-icon [name]="CircleMinus" (click)="channelToDelete=channel"></lucide-icon>
            </button>
          </div>
        }
      </div>
      <div class="px-4">
        <button class="button-ghost min-w-full !p-1 inline-block" (click)="createChannel(section)">
          +
        </button>
      </div>
    </div>
  }
}

@if (channelToDelete){
  <app-popup [isOpen]="true" title="Delete this channel?"
             [content]="'All messages on channel \'' + channelToDelete.name + '\' will be removed.'"
             [buttons]="[BUTTON_CANCEL,BUTTON_DELETE]"
             (close)="deleteChannel($event)">

  </app-popup>
}

<app-name-description-popup [entity]="connection.data!.sections[0]"></app-name-description-popup>
