@if (isOpen) {
  <div
    class="fixed inset-0 z-50 items-center justify-center bg-black/50 p-16">
    <div
      class="bg-neutral-900 rounded-lg shadow-xl w-full p-6 relative">

      <!-- Content -->
      @if (title) {
        <h2 class="text-xl font-semibold mb-4">{{ title }}</h2>
      }
      @if (content) {
        <p class="text-neutral-500 mb-6">{{ content }} </p>
      }
      @if (closeButton) {
        <button class="absolute right-2 top-2 button-light" (click)="onButton(undefined)">✕</button>
      }

      <ng-content></ng-content>

      @if (buttons){
        <div class="flex justify-end gap-2">
          @for (button of buttons; track button){
            <button [ngClass]="getButtonClass(button.type)"
            (click)="onButton(button)">{{button.text}}</button>
          }
        </div>
      }

    </div>
  </div>
}
