<div class="hex-spinner relative inline-block translate-y-1" role="img" aria-label="Loading">
  <svg
    class="hex-svg w-full h-full"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
  >
    <!-- main trace -->
    <polygon
      class="hexagon stroke-neutral-200"
      points="90,50 70,84.641 30,84.641 10,50 30,15.359 70,15.359"
      pathLength="1"
    />
    <!-- moving head -->
    <polygon
      class="hexagon hexagon-head stroke-neutral-200"
      points="90,50 70,84.641 30,84.641 10,50 30,15.359 70,15.359"
      pathLength="1"
    />
  </svg>
  <span class="sr-only">Loading</span>
</div>
