@for (header of permissionList; track header) {

  <h4>{{ header.name }}</h4>
  <div class="settings-grid pl-4">
    @for (item of header.items; track item) {
      <p class="settings-grid-label">
        {{ item.name }}<br>
        <span class="text-neutral-600">{{ item.type }}</span>
      </p>
      <p class="settings-grid-desc">{{ item.description }}</p>

      @let policyItem = data.policies[item.type]!;
      <div class="settings-grid-option h-16 overflow-y-auto">
        @if (policyItem) {
          @for (policy of policyItem.policies; track policy.id) {
            <button class="!p-0">{{ policy.name }}</button><br>
          }
        }
        <button class="button-ghost !p-1 min-w-full" (click)="policyToAdd = item">+</button>
      </div>
    }
  </div>
}

@if (policyToAdd) {
  <app-popup [isOpen]="true" [closeButton]="true" (close)="policyToAdd = undefined">
    <h3>Select the Policy</h3>
    @for (policy of policies; track policy.id) {
      <button (click)="addPolicyToPolicyItem(policyToAdd,policy)">
        {{ policy.name }}
      </button>
      <br>
    }
  </app-popup>
}

