<button class="button-onyx flex w-full !p-2"
        (click)="connect()" [disabled]="selectedServer">
  <div class="rounded">
    @switch (state) {
      @case (ServerInfoState.CONNECTING) {
        <app-spinner></app-spinner>
      }
      @case (ServerInfoState.SUCCESS) {
        @if (success && success.icon) {
          @let info = success;
          <app-preview-image [file]="info.icon!" [basePath]="server.url"
                             imageClass="min-w-16 w-16 h-16 object-cover rounded">
          </app-preview-image>
        } @else {
          <lucide-icon [name]="ServerIcon" class="w-16 h-16 rounded-xl"></lucide-icon>
        }
      }
      @case (ServerInfoState.ERROR) {
        <lucide-icon [name]="ServerOffIcon" class="w-16 h-16 text-red-600 opacity-50"></lucide-icon>
      }
    }
  </div>

  <div class="items-center flex-1 flex flex-col">
    @switch (state) {
      @case (ServerInfoState.CONNECTING) {
        <h3 class="font-bold !p-0"></h3>
        <p class="text-neutral-400">{{ server.name || server.url }}</p>
      }
      @case (ServerInfoState.SUCCESS) {
        @if (success) {
          @let info = success;
          <h3 class="font-bold !p-0">{{ info.name }}</h3>
          <p class="text-neutral-400">{{ server.name || server.url }}</p>
        }
      }
      @case (ServerInfoState.ERROR) {
        <h3 class="text-red-400 !p-0">{{ error }}</h3>
        <p class="w-64 font-bold">{{ server.name || server.url }}</p>
      }
    }
  </div>

  @if (selectedServer == server) {
    <app-spinner></app-spinner>
  }
</button>
