<div class="relative">
  <div class="p-2 min-w-8 border-neutral-700 hover:bg-neutral-800 border rounded flex w-full"
       [class.select-selected]="showOptions"
       (click)="showOptions=!showOptions">
    <p class="flex-1 truncate" [class.select-placeholder]="placeholderActive">{{ label }}</p>
    @if (showOptions) {
      <lucide-icon class="w-3" [name]="ChevronUpIcon"></lucide-icon>
    } @else {
      <lucide-icon class="w-3" [name]="ChevronDownIcon"></lucide-icon>
    }

  </div>

  <div class="max-h-32 w-full overflow-y-auto absolute z-50 bg-neutral-800 rounded-b-xl"
       [style.visibility]="showOptions?'visible':'hidden'">
    <ng-content></ng-content>
  </div>
</div>
