<div
  class="rounded gap-2 grid grid-cols-[1fr_auto] w-full
          D hover:text-neutral-100  hover:bg-neutral-800 animate-default group cursor-pointer"
  [class.p-2]="!interfaceService.settings.compactMode"
  [ngClass]="{
          'border-l-emerald-600 border-l-3': connection.me.channel === channel.id,
          'bg-neutral-800': connection.selectedChannel === channel.id
  }" (click)="selectChannel(channel)"
  (contextmenu)="contextMenuService.openChannelContextMenu(channel,connection,$event)">
  <div class=" w-full   rounded-l-md select-none text-nowrap">
    <lucide-icon class="inline-flex translate-y-0.5" [name]="HexagonIcon"></lucide-icon>
    {{ channel.name }}

  </div>
  @if (connection.me.channel !== channel.id) {
    <button class="right-0  button-small button-onyx
                    pointer-events-none hoverable
                    group-hover:pointer-events-auto
                    transition">
      <lucide-icon [name]="LogInIcon" (click)="joinChannel(channel)"></lucide-icon>
    </button>
  } @else if (connection.me.channel === channel.id) {
    <button class="right-0  button-small">
      <lucide-icon [name]="LogOutIcon" (click)="leaveChannel()"></lucide-icon>
    </button>
  }
</div>
