<div class="max-h-full overflow-auto relative">

  <button (click)="closeConnection()" class="absolute right-4 top-4">
    <lucide-icon [name]="LogOutIcon" class="pr-1"></lucide-icon>
    Leave Server
  </button>

  @if (connection.data) {
    <div class="flex flex-col gap-2 items-center pt-8">
      @if (connection.data.server.icon) {
        <app-preview-image [file]="connection.data.server.icon"
                           imageClass="w-48 h-48 object-cover rounded-xl"
                           [connection]="connection"></app-preview-image>
      }
      <h2>{{ connection.data.server.name }}</h2>
    </div>

    <div class="flex flex-col gap-2 justify-center  items-center pt-12">
      @for (description of connection.data.server.description; track description) {
        <div class="p-6 bg-neutral-800 rounded w-9/12">
          <app-message-content [content]="description" [connection]="connection"></app-message-content>
        </div>
      }
    </div>
  }
</div>
