<div class="justify-center">
  @for (identity of identityService.identities; track identity) {
    <div class="bg-neutral-800 rounded">
      <div class="flex ">
        <img [src]="identity.id | identicon | async" alt="Key ID: {{identity.id}}"
             class="w-16 h-16 rounded-tl">
        <input class="text-h2 p-4" [ngModel]="identity.username">
      </div>
      <div class="flex">
        <p class="p-2 flex-3/5">Created: {{ identity.created | date: 'medium' }}</p>
        <button class="right-2 bottom-2 button-red rounded-none" [disabled]="identityService.identities.length<2"
                (click)="identityToDelete = identity">Delete
        </button>
      </div>

    </div>
  }
  <div class="p-4"></div>
  <h2>Create a new Identity</h2>
  <app-identity-wizzard></app-identity-wizzard>
</div>

@if (identityToDelete) {
  <app-popup [isOpen]="true" title="Delete your identity?"
             [content]="'All groups, ranks and archivements on all servers using the identity \'' + identityToDelete.username + '\' will be inaccessible.'"
             [buttons]="[BUTTON_CANCEL,BUTTON_DELETE]"
             (close)="closeIdentityDialog($event)"
  >

  </app-popup>
}
