@if (server) {
  <div>
    <h3>Server Name</h3>
    <div class="bg-neutral-800 mx-4 p-4 rounded flex">
      <input class="!rounded-r-none" [(ngModel)]="server.name">
      <button class="!rounded-l-none button-dark" (click)="saveServerInfo()">Save</button>
    </div>
    <h3 class="pt-4"> Server Description </h3>
    <div class="p-4 " cdkDropList (cdkDropListDropped)="dropDecsription($event)">
      @for (description of server.description; track description.id) {
        <div class="flex bg-neutral-800 rounded p-2 my-2 gap-2" cdkDrag>

          <lucide-icon cdkDragHandle class="inline" [name]="GripVertical"></lucide-icon>
          @switch (description.type) {
            @case ("MARKDOWN") {
              @let markdown = asTypeMarkdown(description);
              <textarea class="min-h-16" [(ngModel)]="markdown.text"></textarea> <!-- TODO -->
            }
            @case ("FILE") {
              <!-- TODO -->
            }
            @default {
              <p class="text-red-400">Your client does not unterstand this message. Please update your client or check
                your server logs.</p>
            }
          }
          <div>
            <button class="button-dark w-24" (click)="save(description)">Save</button>
            <button class="button-red w-24" (click)="delete(description)">Delete</button>
          </div>
        </div>
      }
    </div>
    <div class="grid grid-cols-2 gap-4 p-2">
      <button class="" (click)="addMarkdown()">
        <lucide-icon class="pr-1" [name]="TextInitialIcon"></lucide-icon>
        Add Markdown text
      </button>
      <!--<button class="">
        +
        <app-file-upload></app-file-upload>
      </button>-->
    </div>
  </div>
} @else {
  <app-spinner></app-spinner>
}
