<div class="h-full  rounded-t-md" [ngClass]="{
'bg-emerald-600': webSocketService.connection && webSocketService.connection.state == ConnectionState.CONNECTED,
'bg-red-600': !webSocketService.connection || webSocketService.connection.state == ConnectionState.ERROR || webSocketService.connection.state == ConnectionState.CLOSED,
'bg-yellow-600': webSocketService.connection && webSocketService.connection.state == ConnectionState.AUTHENTICATING
}
">
  @if (showClientEditor) {
    <app-popup [isOpen]="showClientEditor" [closeButton]="true" (close)="showClientEditor=false">
      <app-settings [connection]="connection"></app-settings>
    </app-popup>
  }

  <div class="p-2 gap-2 grid grid-cols-[1fr_auto] w-full">

    <h3 class="p-2">
      {{ connection.me.username }}
    </h3>
    <button class="!bg-none !bg-transparent !p-0 right-0" (click)="showClientEditor=true">
      <lucide-icon [name]="SettingsIcon"></lucide-icon>
    </button>
  </div>


  <div class="grid grid-cols-3 px-4 pb-1">
    <button class="!bg-neutral-900 !rounded-r-none">
      <lucide-icon [name]="peerConnectionService.sharedStreams[TrackType.Microphone]?MicIcon:MicOffIcon"
                   [ngClass]="[
    peerConnectionService.sharedStreams[TrackType.Microphone] ? 'text-emerald-600' : 'text-neutral-400'
  ]"
                   (click)="peerConnectionService.changeTrack(TrackType.Microphone)"></lucide-icon>
    </button>
    <button class="!bg-neutral-900 !rounded-none">
      <lucide-icon [name]="peerConnectionService.sharedStreams[TrackType.Camera]?VideoIcon:VideoOffIcon"
                   [ngClass]="[
    peerConnectionService.sharedStreams[TrackType.Camera] ? 'text-emerald-600' : 'text-neutral-400'
  ]"
                   (click)="peerConnectionService.changeTrack(TrackType.Camera)"></lucide-icon>
    </button>
    <button class="!bg-neutral-900 !rounded-l-none">
      <lucide-icon [name]="peerConnectionService.sharedStreams[TrackType.Screen]?ScreenShareIcon:ScreenShareOffIcon"
                   [ngClass]="[
    peerConnectionService.sharedStreams[TrackType.Screen] ? 'text-emerald-600' : 'text-neutral-400'
  ]"
                   (click)="peerConnectionService.changeTrack(TrackType.Screen)"></lucide-icon>
    </button>
  </div>
</div>
