<div class="h-full  rounded-t-md" [ngClass]="{
'bg-emerald-600': webSocketService.connection && webSocketService.connection.state == ConnectionState.CONNECTED,
'bg-red-600': !webSocketService.connection || webSocketService.connection.state == ConnectionState.ERROR || webSocketService.connection.state == ConnectionState.CLOSED,
'bg-yellow-600': webSocketService.connection && webSocketService.connection.state == ConnectionState.AUTHENTICATING
}
">

  <div class="p-2 gap-2 grid grid-cols-[1fr_auto] w-full">

    <h3 class="p-2">
      Username
    </h3>
    <!--<button class="!bg-none !bg-transparent !p-0 right-0">
      <lucide-icon [name]="SettingsIcon"></lucide-icon>
    </button>-->
  </div>


  <div class="grid grid-cols-3 px-4 pb-1">
    <button class="!bg-neutral-900 !text-neutral-400 !rounded-r-none">
      <lucide-icon [name]="peerConnectionService.microhponeShared?MicIcon:MicOffIcon"
      (click)="peerConnectionService.startTrack(TrackType.Microphone)"></lucide-icon>
    </button>
    <button class="!bg-neutral-900 !text-neutral-400 !rounded-none">
      <lucide-icon [name]="peerConnectionService.cameraShared?VideoIcon:VideoOffIcon"
      (click)="peerConnectionService.startTrack(TrackType.Camera)"></lucide-icon>
    </button>
    <button class="!bg-neutral-900 !text-neutral-400 !rounded-l-none">
      <lucide-icon [name]="peerConnectionService.screenShared?ScreenShareIcon:ScreenShareOffIcon"
      (click)="peerConnectionService.startTrack(TrackType.Screen)"></lucide-icon>
    </button>
  </div>
</div>
