/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@tailwind utilities;

body {
  @apply bg-neutral-900 text-white;
}

label {
  @apply block mb-2 text-sm font-medium text-neutral-200
}

.text-hint {
  @apply text-neutral-400
}

input {
  @apply bg-neutral-900 border border-neutral-900 text-neutral-200 focus:text-neutral-100 text-sm rounded-lg focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5
}

input::placeholder {
  @apply text-neutral-400
}

.input-invisible {
  @apply border-0 focus:bg-neutral-600 hover:bg-neutral-700
}

textarea {
  @apply bg-neutral-900 border border-neutral-900 text-neutral-100 text-sm rounded-lg  focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5
}


/**
  Buttons
 */
button {
  @apply text-neutral-200 bg-neutral-800
  disabled:bg-neutral-800 disabled:text-neutral-400
  font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
  hover:bg-neutral-600  transition-all duration-200 ease-in-out
}

.button-selected {
  @apply bg-neutral-900
}

.button-selected-border {
  @apply bg-neutral-900 border border-neutral-700
}

.button-green {
  @apply bg-emerald-600 hover:bg-emerald-400
}

.button-dark {
  @apply bg-neutral-900 hover:bg-neutral-700 disabled:bg-neutral-900
}

.button-dark-selected {
  @apply bg-neutral-800!
}

.button-hover-dark {
  @apply disabled:bg-neutral-900
}

.button-line {
  @apply border-neutral-600 border-1
}

.button-red {
  @apply hover:bg-red-800 border-red-600 border-1 bg-red-800/10
}

.button-ghost {
  @apply border-2 border-dotted border-neutral-400 bg-neutral-800/25
}

.button-no-round {
  @apply rounded-none
}

.text-green-bold {
  @apply text-emerald-400
}

.hover-greenish {
  @apply hover:bg-emerald-400/10 transition-colors duration-300 ease-in-out
}

.greenish {
  @apply bg-emerald-400/20 hover:bg-emerald-400/30
}

a {
  @apply text-indigo-200 visited:text-indigo-400
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl
}

h3 {
  @apply text-xl
}

h4 {
  @apply text-lg
}

.text-h1 {
  @apply text-3xl
}

.text-h2 {
  @apply text-2xl
}

.text-h3 {
  @apply text-xl
}

.text-h4 {
  @apply text-lg
}

.animate-default {
  @apply transition-all duration-200 ease-in-out
}

.skeleton {
  @apply animate-pulse h-2 bg-gray-400 w-32
}


select {
  @apply border-b-3 border-b-neutral-600 hover:border-b-neutral-300
}


.wave-background {
  --mask: radial-gradient(34.4px at 50% calc(100% + 13.5px), #0000 calc(99% - 3px), #000 calc(101% - 3px) 99%, #0000 101%) calc(50% - 60px) calc(50% - 16.5px + .5px)/120px 33px,
  radial-gradient(34.4px at 50% -13.5px, #0000 calc(99% - 3px), #000 calc(101% - 3px) 99%, #0000 101%) 50% calc(50% + 16.5px)/120px 33px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.gradient-white-emerald {
  background: #009966;
  background: linear-gradient(90deg, rgba(0, 153, 102, 1) 50%, rgba(224, 224, 224, 1) 100%);
}

.gradient-white-emerald-5 {
  background: #009966;
  background: linear-gradient(90deg, rgba(0, 153, 102, .05) 50%, rgba(224, 224, 224, .05) 100%);
}


/**
UI Stuff
 */

.settings-grid {
  @apply grid grid-cols-12 gap-2
}

.settings-grid-label {
  @apply col-span-3
}

.settings-grid-label-no-desc {
  @apply col-span-9
}

.settings-grid-desc {
  @apply col-span-6 text-neutral-400
}

.settings-grid-option {
  @apply col-span-3
}


