<h2>Permissions</h2>
<div>
  @for (header of permissionList; track header) {
    <h3 class="pt-4">{{ header.name }}</h3>
    @for (item of header.items; track item) {
      <div class="grid grid-cols-9 gap-2 pt-2 hover:bg-neutral-800 rounded">
        <p class="col-span-3">
          {{ item.name }}<br>
          <span class="text-neutral-500 text-xs">
           {{ item.type }}
          </span>
        </p>
        <p class="col-span-4">
          {{ item.description }}
        </p>
          <input class="w-full self-center col-span-2" type="number" placeholder="default (0)" [(ngModel)]="group.accessPowers[item.type]">

      </div>
    }
  }

</div>
