<div class="flex">
  <aside class="flex-1 bg-neutral-900 max-w-64">

    <div class="inline-block flex-col rounded align-top">
      @for (button of buttons; track button) {
        <button class="button-dark !rounded-none" (click)="select(button)"
                [disabled]="selectedOption==button">
          @if (button.icon) {
            <lucide-icon [name]="button.icon" class="inline pr-1"></lucide-icon>
          }
          {{ button.name }}
        </button>
      }
    </div>
  </aside>

  <main class="flex-1 overflow-y-scroll max-h-[70vh]">
    @if (showHeader) {
      <h1>{{ selectedOption.name }}</h1>
      <div class="pb-4"></div>
    }
    <ng-content>
    </ng-content>
  </main>
</div>
